:root {
    --color-1: #0094FF;
    --color-2: #00FFC9;

    --distance-s: 8px;
    --distance-m: 16px;
    --distance-l: 32px;
    --distance-xl: 64px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.h1 {
    color: var(--color-1);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.h2 {
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 100;
}

.section {
    box-sizing: border-box;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: url(../img/foto_header_portada.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}

.home .h1 {
    text-align: center;
    margin-bottom: 105px;
}

.home__logo {
    width: 150px;
    margin-bottom: 25px;
}

.home::after {
    background: url('../img/home_bottom.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 100%;
    position: absolute;
}

.subhome {
    background: var(--color-1);
    text-align: center;
    padding: var(--distance-xl) var(--distance-l);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subhome .h2 {
    max-width: 300px;
    margin-bottom: var(--distance-l);
}

.subhome__description {
    color: #fff;
    line-height: 26px;
    font-weight: 100;
    max-width: 262px;
    margin-bottom: var(--distance-xl);
}

.subhome__cta {
    color: var(--color-2);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: var(--distance-m);
}

.subhome__button{
    border: 1px solid var(--color-2);
    padding: var(--distance-s) var(--distance-xl) 12px var(--distance-xl);
    border-radius: 35px;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-2);
}

.slide-products {
    position: relative;
    height: 150px;
    display: block;
    padding-top: 50px;
}

.slide-products::before {
    background: url('../img/subhome_bottom.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}