:root {
    --color-1: #0094FF;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.h1 {
    color: var(--color-1);
    font-size: 58px;
    font-weight: 600;
    line-height: 90px;
}

.h2{
    color: #fff;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}

.section{
    box-sizing: border-box;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: url(../img/foto_header_portada.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}

.home .h1 {
    text-align: center;
    margin-bottom: 55px;
}

.home__logo{
    width: 380px;
    margin-bottom: 35px;
}

.home::after{
    background: url('../img/home_bottom.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 100%;
    position: absolute;
}

.subhome{
    background: var(--color-1);
    text-align: center;
    padding: 64px 32px;
    
}

.subhome .h2{
    max-width: 150px;
}

.slide-products{
    position: relative;
    height: 150px;
    display: block;
    padding-top: 50px;
}
.slide-products::before{
    background: url('../img/subhome_bottom.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}