:root {
    --color-1: #0444A0;
    --color-2: #0094FF;
    --color-3: #05C6FF;
    --color-4: #0F2039;
    --color-5: #00FFC9;
    --color-6: #0A326B;


    --distance-s: 8px;
    --distance-m: 16px;
    --distance-l: 32px;
    --distance-xl: 64px;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 300;
}

.h1 {
    color: var(--color-2);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.h2 {
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}

strong {
    font-weight: 600;
}

.menu__content {
    background: #fff;
}

.menu ul {
    padding: 16px 0;
    background: #fff;
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: -485px;
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 4;
    padding-bottom: 120px;

}

.menu ul::before {
    background: url('../img/menu_top.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 100%;
    position: absolute;
    top: -50px;
}

.menu--visible.menu ul {
    bottom: -312px;
}

.menu--visible.menu--opened.menu ul {
    bottom: 0;
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.menu ul li {
    width: 100%;
}

.menu__item {
    text-transform: uppercase;
    color: var(--color-1);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    display: block;
    padding: var(--distance-m) 0;
}

.menu-button {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 50px;
    bottom: -200px;
    width: 100%;
    text-decoration: none;
    padding-bottom: 16px;
    z-index: 5;
    background: #fff;
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.menu--visible .menu-button {
    bottom: 0;
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.menu-button__picture {
    display: inline-block;
    padding: 16px 0px 0px 40px;
    position: relative;
}

.menu-button__text {
    color: var(--color-1);
    text-decoration: none;
    text-transform: uppercase;
}

.menu-button__icon,
.menu-button__picture::after,
.menu-button__picture::before {
    border: 1px solid var(--color-1);
    display: inline-block;
    width: 20px;
    height: 1px;
    background: var(--color-1);
    border-radius: 3px;
    top: 23px;
    position: absolute;
    left: 0;
    content: ' ';
    transition: all 300ms ease-in;
}

.menu-button__picture::before {
    top: 14px;
}

.menu-button__picture::after {
    top: 32px;
}

.menu--opened .menu-button .menu-button__icon {
    opacity: 0;
    transition: all 300ms ease-in;
}

.menu--opened .menu-button__picture::before {
    transform: rotate(-45deg);
    transition: all 300ms ease-in;
    top: 24px;
}

.menu--opened .menu-button__picture::after {
    transform: rotate(45deg);
    transition: all 300ms ease-in;
    top: 24px;
}




.img-fluid {
    max-width: 100%;
    height: auto;
}

.section {
    box-sizing: border-box;
}

.button {
    border: 1px solid var(--color-2);
    padding: var(--distance-s) var(--distance-m);
    border-radius: var(--distance-xl);
    font-size: 12px;
    text-decoration: none;
    color: var(--color-1);
}

.home {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: url(../img/foto_header_portada.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.home .h1 {
    text-align: center;
    margin-bottom: 105px;
}

.home__logo {
    width: 150px;
    margin-bottom: 25px;
}

.home::after {
    background: url('../img/home_bottom.svg') no-repeat;
    content: ' ';
    height: 14%;
    width: 100%;
    position: absolute;
}

.subhome {
    background: var(--color-2);
    text-align: center;
    padding: var(--distance-xl) var(--distance-l);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subhome .h2 {
    max-width: 90%;
    margin-bottom: var(--distance-l);
}

.subhome__description {
    color: #fff;
    line-height: 26px;
    font-weight: 300;
    max-width: 90%;
    margin-bottom: var(--distance-xl);
}

.subhome__cta {
    color: var(--color-5);
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: var(--distance-m);
}

.subhome__button {
    border: 1px solid var(--color-5);
    padding: var(--distance-s) var(--distance-xl) 12px var(--distance-xl);
    border-radius: 35px;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-5);
    font-weight: 400;
}

.scroll-top--down {
    display: none;
}

.slide-products {
    position: relative;
    display: block;
    padding-top: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
    overflow: hidden;
}

.slide-products::before {
    background: url('../img/subhome_bottom.svg') no-repeat;
    content: ' ';
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
}

.slide-products::after {
    background: url('../img/slide-products_bottom.svg') no-repeat;
    content: ' ';
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slide-products__images {
    width: 100%;
}

.slide-products__image {
    text-align: center;
    padding-bottom: var(--distance-m);
}

.slide-products__items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    padding: 0 var(--distance-m);
    margin: 0 auto;
    position: relative;
    margin-bottom: var(--distance-xl);
}

.slide-products__items::after {
    content: ' ';
    position: absolute;
    border-bottom: 2px solid var(--color-3);
    width: 100%;
    top: 50%;
    z-index: 1;

}

.slide-products__item {
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    border: 2px solid var(--color-3);
    border-radius: 20px;
    background: #fff;
    z-index: 2;
    position: relative;
}

.slide-products__title {
    color: var(--color-1);
    font-size: 22px;
    font-weight: 300;
}

.slide-products__button {
    text-transform: uppercase;
}

.slide-products__item.slide-products__item--active {
    border-color: var(--color-1);
}

.slide-products__item::after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: var(--color-3);
    top: 7px;
    left: 7px;
}

.slide-products__item--active.slide-products__item::after {
    background-color: var(--color-1);
}

.hightlights {
    background: var(--color-1);
    padding: var(--distance-xl) var(--distance-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hightlights__item:first-child {
    margin-top: var(--distance-l);
}

.hightlights__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--distance-l);
}

.hightlights__title {
    color: #fff;
    text-align: center;
    margin-bottom: var(--distance-xl);
    font-weight: 300;
}



.item__image {
    margin-bottom: var(--distance-m);
}

.item__image--atencio-personalitzada {
    width: 80px;
    height: 78px;
    background-image: url(../img/atencio-personalitzada_xs.svg);
    text-indent: -10000px;
}

.item__image--postvenda {
    width: 108px;
    height: 108px;
    background-image: url(../img/postvenda_xs.svg);
    text-indent: -10000px;
}

.item__image--estocatge {
    width: 137px;
    height: 94px;
    background-image: url(../img/estocatge_xs.svg);
    text-indent: -10000px;
}

.cta {
    background: var(--color-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--distance-xl);
    position: relative;
    padding-top: 280px;
    overflow: hidden;
}

.cta::before {
    background: url('../img/hightlights_bottom.svg') no-repeat;
    content: ' ';
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.cta::after {
    /*width:617px; 
    height:499px;*/
    width: 320px;
    height: 230px;
    background: url('../img/logo_cta_home.svg') no-repeat;
    content: ' ';
    position: absolute;
    top: -55px;
    z-index: 1;
}

.cta__title {
    font-size: 24px;
    color: var(--color-1);
    font-weight: 300;
    margin-bottom: var(--distance-m);
    text-align: center;
}

.cta__button {
    position: relative;
    color: #fff;
    border: 1px solid var(--color-1);
    padding: var(--distance-s) var(--distance-l) 12px var(--distance-l);
    border-radius: 35px;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: var(--distance-xl);
    z-index: 2;
    overflow: hidden;
}

.cta__button::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--color-1);
    z-index: -2;
}

.cta__button::after {
    position: absolute;
    left: 0;
    top: 15px;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/wave.svg');
    background-repeat: repeat-x;
    z-index: -1;
    animation: wave 3s linear infinite;
}

@keyframes wave {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100px 0;
    }
}

@keyframes elastic {
    0% {
        bottom: 100%;
    }

    10% {
        bottom: 0%;
    }

    20% {
        bottom: 20%;
    }

    30% {
        bottom: 0%;
    }

    40% {
        bottom: 5%;
    }

    50% {
        bottom: 0%;
    }

    100% {
        bottom: 0%;
    }
}


.footer {
    padding: var(--distance-xl) var(--distance-l);

}

.address {
    margin-top: var(--distance-l);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--distance-l);
}

.address__title {
    color: var(--color-1);
    margin-bottom: var(--distance-s);
    font-weight: 700;
}

.address__description {
    color: var(--color-1);
    font-weight: 300;
    margin-bottom: var(--distance-l);
}

.address_phone {
    color: var(--color-2);
    font-size: 22px;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: var(--distance-m);
}

.address_mail {
    color: var(--color-1);
    text-decoration: none;
    margin-bottom: var(--distance-xl);
}

.footer__subfooter > * {
    font-size: 12px;
    color: var(--color-1);
    text-decoration: none;
}

.empresa {
    position: relative;
    overflow: hidden;
}

.empresa::after {
    background: url('../img/empresa_desc_top.svg') no-repeat;
    content: ' ';
    height: 50px;
    width: 200%;
    position: absolute;
    bottom: 0;
    right: 0;

}

.empresa-description {
    padding: var(--distance-xl) var(--distance-m);
    background: var(--color-5);
    color: var(--color-6);
    font-size: 18px;
}

.empresa-description__title {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.empresa-description__title strong {
    font-weight: 600;
    margin-bottom: var(--distance-xl);
    display: inline-block;
}

.empresa-descripton__content {
    text-align: center;
    margin-bottom: var(--distance-l);
    line-height: 40px;
}

.empresa-slogans {
    padding: var(--distance-xl) var(--distance-m);
    background: var(--color-1);
    color: #fff;
}

.slogan {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
}

.slogan--big {
    font-size: 32px;
}

.slogan strong {
    font-weight: 600;
    color: var(--color-5);
}

.main-cta {
    background: var(--color-5);
    padding: var(--distance-xl) var(--distance-m);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cta__title {
    margin-top: var(--distance-xl);
    margin-bottom: var(--distance-l);
    font-size: 100px;
    font-style: italic;
    color: var(--color-5);
    text-shadow: -1px 0 var(--color-1), 0 1px var(--color-1), 1px 0 var(--color-1), 0 -1px var(--color-1);
}

.main-cta__phone {
    color: var(--color-1);
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: var(--distance-m);
}


/* -------------------------------------------MEDIA QUERY 480 - MOBIL HORITZONTAL----------------------------------------------*/

@media (min-width: 480px) {
    .home__logo {
        margin-bottom: var(--distance-l);
    }

    .home .h1 {
        margin: 0 0 35px 0;
        line-height: 36px;
        margin-bottom: var(--distance-l);
        font-size: 1.6rem;
    }

    .slide-products__image {
        max-width: 250px;
        margin: 0 auto;
    }
}


/* -------------------------------------------MEDIA QUERY 576 - MOBIL HORITZONTAL----------------------------------------------*/

@media (min-width: 576px) {
    .home__logo {
        margin-bottom: 8%;
    }

    .home .h1 {
        margin: 0 0 35px 0;
        line-height: 48px;
        font-size: 2.4rem;
        margin-bottom: 20%;
    }

    .slide-products__image {
        max-width: 250px;
        margin: 0 auto;
    }
}

/* -------------------------------------------MEDIA QUERY 768 - TABLET VERTICAL----------------------------------------------*/


@media (min-width: 768px) {
    .home__logo {
        margin-bottom: 8%;
    }

    .home .h1 {
        margin: 0 0 35px 0;
        line-height: 48px;
        font-size: 2.4rem;
        margin-bottom: 15%;
    }

    .slide-products::before {
        height: 15%;
    }

    .home::after {
        height: 14%;
    }

    .slide-products::after {
        height: 15%;
    }

    .cta::before {
        height: 15%;
    }

    .subhome .h2 {
        max-width: 70%;
        font-size: 1.4rem;
    }

    .subhome__description {
        line-height: 26px;
        max-width: 70%;
        margin-bottom: var(--distance-xl);
    }
}



/* -------------------------------------------MEDIA QUERY 992 - TABLET HORITZONTAL----------------------------------------------*/

@media (min-width: 992px) {
    .home__logo {
        margin-bottom: 4%;
    }

    .home .h1 {
        margin: 0 0 35px 0;
        line-height: 46px;
        font-size: 2.4rem;
        margin-bottom: 15%;
        font-weight: 600;
    }

    .hightlights {
        background: var(--color-1);
        padding: var(--distance-xl) var(--distance-m);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .hightlights__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: var(--distance-l);
    }


}


/* -------------------------------------------MEDIA QUERY 1200 - DESKTOP----------------------------------------------*/

@media (min-width: 1200px) {
    .home__logo {
        margin-bottom: 2%;
    }

    .home .h1 {
        margin: 0 0 35px 0;
        line-height: 56px;
        font-size: 2.8rem;
        margin-bottom: 6%;
        font-weight: 600;
    }

    .scroll-top--down {
        margin-bottom: 10%;
        z-index: 100;
        display: block;
        text-decoration: none;
        transform: rotate(90deg);
    }

    .scroll-top--down__text-home {
        font-size: .7rem;
        padding-bottom: var(--distance-s);
        color: var(--color-1);
    }

    .scroll-top--down__line-home {
        height: 1px;
        width: 100%;
        background-color: var(--color-2);
        display: block;
        position: relative;
    }

    .scroll-top--down__line-home:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: var(--color-1);
        width: 30%;
        transition: .2s ease;
    }

    a:hover.scroll-top--down .scroll-top--down__text-home {
        color: var(--color-2);
    }

    a:hover.scroll-top--down .scroll-top--down__line-home:after {
        content: '';
        width: 100%;
    }

    .subhome .h2 {
        max-width: 800px;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .subhome__description {
        font-size: 1.1rem;
        line-height: 1.8rem;
        max-width: 800px;
        margin-bottom: var(--distance-xl);
    }
}
